# BACKEND

__pycache__/

# private_config

_config.py

# FRONTEND

# dependencies
node_modules/
temp_helpers/
.pnp
.pnp.js

# testing
coverage

# production
# build

# MISC
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
